* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.World-Box {
    border: 1px solid black;
    background-color: #efffef;

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;

    margin: auto;
    margin-top: 0px;

    height: 700px;
    width: 100%;
}

/* SKY BOX ELEMENTS START */

.Sky-Box {
    border: 1px solid black;
    background-color: #7ab7d6;

    position: absolute;
    top: 0px;

    height: 70%;
    width: 100%;
}

.Moon {
    position: absolute;
    top: 50px;
    left: 100px;

    width: 100px;
}

/* 🛰️ Satelite Start 🛰️ */

.Satelite {
    position: absolute;
    top: 50px;
    left: -100px;

    width: 30px;

    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);

    transform: .3s;
}

.Satelite:hover {
    transform: scale(1.1);
}

.Satelite-Course {
    animation: satelite-track 60s linear infinite both;
}

/* 🛰️ Satelite End 🛰️ */


/* ☁️ Clouds Start ☁️ */

.Cloud {
    position: absolute;
    top: 150px;
    left: 100px;

    width: 100px;
}


/* ☁️ Clouds End ☁️ */


/* 🎛️ Control Pannel Start 🎛️ */

.Control-Pannel {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 200px;
    left: 25%;

    padding: 10px;
    gap: 10px;
}

#Welcome {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}

.Button-Container {
    display: flex;
    gap: 10px;
}

.Control-Button {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: none;
    border-left: 2px solid black;

    padding: 8px;
    transition: .3s;
}

.Control-Button:hover {
    transform: translateY(2px);
    border-left: 4px solid black;
}

.Land-Button {
    background-color: #35a967;
}

.Land-Button:hover {
    background-color: green;
}

.Launch-Button {
    background-color: #d95e1c;
}

.Launch-Button:hover {
    background-color: red;
}

#Button-Text {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 500;
}

/* 🎛️ Control Pannel End 🎛️ */


/* Sky Box Keyframe Animation Start */

@keyframes satelite-track {
    from{
        left: -100px;
    }
    to {
        left: 100%;
    }
}


/* Sky Box Keyframe Animation End */

/* SKY BOX ELEMENTS END */










/* GORUND BOX ELEMENTS START */


.Ground-Box {
    border: 1px solid black;
    background-color: #35a967;

    position: absolute;
    bottom: 0px;

    height: 30%;
    width: 100%;
}

.Mountain-BG {
    position: absolute;
    top: -200px;


    height: 200px;
    width: 100%;
}

.Gound-Station-2 {
    position: absolute;
    top: -80px;
    left: 300px;

    height: 100px;
}

.Gound-Station-3 {
    position: absolute;
    top: -80px;
    right: 300px;

    height: 90px;
}

.Launchpad-1 {
    position: absolute;
    top: -100px;
    right: 100px;

    height: 150px;
}

.Rocket {
    position: absolute;
    top: -80px;
    right: 140px;

    height: 100px;

    z-index: 1;

    transition: 15s;
}

.Sky-High {
    transform: translateY(-1000px) translateX(-500px) rotate(-80deg) scale(.1);
    transition-timing-function: ease-in;
}


.Shrink {
    transition-duration: 10s;
    transform: scale(.1);
}

.Launchpad-2 {
    position: absolute;
    top: 0px;
    left: 100px;

    height: 200px;

}

.Lander-Rocket {
    position: absolute;
    top: -1000px;
    left: 70px;

    height: 150px;

    z-index: 1;
    
    transition: 10s;

    /* transform: scale(.1); */
}

.Land-Rocket {
    transform: translateY(1010px) translateX(00px) rotate(0deg) scale(1);
    transition-timing-function: ease-out;
    transition-delay: 0s;
}


/* Ground Box Keyframe Animation Start */

@keyframes rocket-launch {
    from{
        transform: translateY(-80px);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes rocket-land {
    from{
        transform: translateY(-1000px);
    }
    to {
        transform: translateY(10px);
    }
}


/* Ground Box Keyframe Animation End */

/* GORUND BOX ELEMENTS END */




