



.Nav-Bar {
    border: 1px solid black;
    
    display: flex;
    position: relative;

    padding: 10px;

    margin: auto;
    margin-top: 0px;

    height: 60px;
    width: 100%;
}


.Logo {
    height: 20px;
    margin: auto;
    margin-left: 100px;
}

.Dropdown-Links { 
    border: 1px solid black;

    display: flex;

    gap: 30px;

    margin: auto;
    margin-right: 100px;
}